.menu_title {
    padding: 10px;
    font-weight: 600;;
}

.menu_item {
    background: var(--palette-color-snow);
    font-weight: 500;  
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu_item:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.menu_item a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #000;
}

.menu_item svg {
   margin-right: 8px;
   margin-bottom: 3px;
}
